
.message-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    p{
        font-size: 25px;
        font-weight: 600;
        font-family: 'Mulish';
    }
}
